/* De @font-face is van W3schools en de ronde hoeken ook */
@font-face {
    font-family: cola;
    src: url(../cola.ttf);
}
html, body{
    height: 100%;
    margin: 0%;
        
}
.enjoy{
    font-family: cola;
    margin: 0;
    font-size: 50px;
}
body{
    text-align: center;
    color: antiquewhite;
    background-color: black;
}

.nav{
    background-color: #fed20e;
    width: 100%;
    height: 50px;
    text-align: left;
}
.nav2{
    background-color: #fed20e;
    width: 100%;
    height: 150px;
    text-align: left;
}
#container{
    display: flex;
    height: 100%;

}
#blok1{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #292929;
    width: 18%;
    height: 100%;
    margin: 1%;
}
#blok2{
    color: black;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #fed20e;
    width: 65%;
    height: 100%;
    margin: 1%;
    border: solid 3px;
}
#blok3{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #292929;
    width: 30%;
    height: 100%;
    margin: 1%;
}
.bericht{
    color: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 100px;
    width: 90%;
    margin: 5%;
    background-color: #292929;
    padding-top: 7px;
}
.menu{
    color: black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 50px;
    height: 60px;
    width: 90%;
    margin: 5%;
    background-color: #fed20e;
    padding: 2px;
}
.menu:hover{
    color:white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 50px;
    width: 90%;
    margin: 5%;
    background-color: black;
}
h1{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
}
h3{
    font-family: "Arial Black", Gadget, sans-serif;
}
p{
     font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
}
h2{
    margin-top: 0px;
    font-size: 30px;

}
img{
    border-radius: 10px;
}
.foto{
    background-image: url("../capitalism.png");
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 65%;
    margin-bottom: 3%;
    margin-top: 2%;
}

#header{
    text-shadow: -2px 0 #fed20e, 0 2px #fed20e, 2px 0 #fed20e, 0 -2px #fed20e;
    color: black;
    margin: 0%;
}
.foto2{
    background-image: url("../capitalism.png");
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 25%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.foto3{
    background-image: url("../capitalism.png");
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 40%;
    margin-bottom: 3%;
    margin-top: 2%;
}
.optie{
    border: solid 1px #fed20e;
    font-size: 16px;
    color: #fed20e;
    -webkit-appearance: none;
    height: 50px;
    width: 155px;
    background-color: black;
}
.optie:hover{
    border: solid 2px #fed20e;
    font-size: 16px;
    color: #e2d000;
    -webkit-appearance: none;
    height: 50px;
    width: 155px;
    background-color: #5e5e5e;
}
.optie2{
    border: solid 1px #fed20e;
    font-size: 16px;
    color: #fed20e;
    -webkit-appearance: none;
    height: 50px;
    width: 100%;
    background-color: black;
}
.optie2:hover{
    border: solid 2px #fed20e;
    font-size: 16px;
    color: #e2d000;
    -webkit-appearance: none;
    height: 50px;
    width: 100%;
    background-color: #5e5e5e;
}
.blok{
    color: black;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #fed20e;
    width: 98%;
    height: 500px;;
    margin: 1%;
    border: solid 3px;
}
.footer{
    color: #fed20e;
    background-color: #292929;
    width: 100%;
    height: 60%;
}
.footer.a{
    color: #fed20e;
}
a:-webkit-any-link {
    color: #fed20e;
    cursor: pointer;
}
img{
    width: 90%;
}