html, body{
    height: 100%;
    margin: 0%;
}
body{

    color: antiquewhite;
    background-color: black;
}
.producten{
	color: white;
	width: 290px;
	background-color: #0e191d;
	height: 100%;
    overflow-y: scroll;
}
p, h2{
	margin: 0;
}
.geld{
	text-align: right;
	margin-right: 15px;
	padding-top: 5px;
	margin-bottom: 15px;
}
.product{
    display: flex;
    margin: 5px;
    width: 97%;
    height: 60px;
    background-color: #0f232d;
    text-align: left;
}
img{
	height: 60px;
	width: 60px;
    margin-right: 15px;
}
.stockpile{
	height: 17px;
	display: flex;
	border: solid 3px black;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
.red{
    color: red;
}
